Brotli==1.1.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
idna==3.10
mutagen==1.47.0
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
pip==24.2
platformdirs==4.3.6
pycryptodomex==3.20.0
requests==2.32.3
setuptools==75.1.0
urllib3==2.2.3
websockets==13.1
wheel==0.44.0
yt-dlp==2024.9.27
